.card-header h3 {
    margin-top: 10px;
}

.section-label {
    color: gray;
}

span.section-label {
    font-size: 11px;
}

.thumbnail img {
    width: 200px;
    height: 200px;
}

agm-map {
    width: 100%;
    height: 300px;
}

.text-info{
    margin-left: 10px;
}
