<div class="content">
    <div class=" row justify-content-center">
        <div class=" col-md-10" [@detailEditSlider]="detailEditCounter">
            <div class="card" *ngIf="client && address && detailEditCounter == 0">
                <div class="card-header row justify-content-between">
                    <h3 class="title col-md-3">Client information</h3>
                    <button class="btn btn-icon btn-simple btn-danger mr-auto" (click)="openGeneralInfoEdit()">
                        <i class="tim-icons icon-pencil"></i>
                    </button>
                </div>

                <div class=" card-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 card-user">
                            <img alt="..." class=" avatar" [src]="client.profilePicture.pictureUri" />
                        </div>
                        <div class="col-md-3 col-sm-6 flex-column">
                            <h4 class="section-label"><i class="tim-icons icon-badge"></i> General info</h4>
                            <div class="row">
                                <span class="section-label col-xl-6 ">Name:</span>
                                <h5 class="col-xl-12 ">{{client.fullName}}</h5>
                            </div>
                            <div class="row">
                                <span class="section-label col-xl-6 ">Gender:</span>
                                <h5 class="col-xl-12 ">{{helper.getGenderString(client.gender)}}</h5>
                            </div>
                            <div class="row">
                                <span class="section-label col-xl-6 ">Birthdate:</span>
                                <h5 class="col-xl-12 ">{{client.birthDate | date:'MMMM dd, yyyy'}}</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 flex-column">
                            <h4 class="section-label"><i class="tim-icons icon-mobile"></i> Contact</h4>
                            <div class="row">
                                <span class="section-label col-xl-6 ">Number:</span>
                                <h5 class="col-xl-12 ">{{client.phoneNumber}}</h5>
                            </div>
                            <div class="row">
                                <span class="section-label col-xl-6 ">Email:</span>
                                <h5 class="col-xl-12 ">{{client.email}}</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 flex-column">
                            <h4 class="section-label"><i class="tim-icons icon-square-pin"></i> Address</h4>
                            <div class="row">
                                <span class="section-label col-xl-6 ">City:</span>
                                <h5 class="col-xl-12 ">{{address.city}}, {{address.postCode}}</h5>
                            </div>
                            <div class="row">
                                <span class="section-label col-xl-6 ">Building:</span>
                                <h5 class="col-xl-12 ">{{address.street}} {{address.buildingNumber}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-sm-6">
                            <agm-map *ngIf="latClient && lngClient" [latitude]="latClient" [longitude]="lngClient"
                                [zoom]="15">
                                <agm-marker [latitude]="latClient" [longitude]="lngClient"></agm-marker>
                            </agm-map>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card" *ngIf="detailEditCounter == 1">
                <div class="card-header row justify-content-between">
                    <div class="col-md-5">
                        <h3 class="title">Client edit</h3>
                    </div>
                    <div class="col-md3">
                        <button class="btn btn-danger">Cancel</button>
                        <button style="margin-left: 10px;" class="btn btn-success">Save</button>
                    </div>
                </div>
                <div class="card-body" [formGroup]="updateDetailForm">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 flex-column text-center">
                            <h4 class="section-label">Profile picture</h4>
                            <div class="fileinput text-center">
                                <input type="file" hidden #imageInput accept="image/*" (change)="processFile($event)">
                                <div class="thumbnail">
                                    <img [src]="clientUpdateDto.profilePicture.pictureUri">
                                </div>
                                <div>
                                    <button class="btn-round btn btn-primary ng-star-inserted"
                                        (click)="selectImage($event)">Select image</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 flex-column">
                            <h4 class="section-label"><i class="tim-icons icon-badge"></i> General info</h4>
                            <div class=" form-group">
                                <label>First Name</label>
                                <input class=" form-control" placeholder="First name" type="text"
                                    formControlName="firstName" />
                            </div>
                            <div class=" form-group">
                                <label>Surname</label>
                                <input class=" form-control" placeholder="Surname" type="text"
                                    formControlName="surname" />
                            </div>
                            <div class=" form-group">
                                <label>Gender</label>
                                <select class="form-control" formControlName="gender">
                                    <option *ngFor="let gender of helper.genders; let i = index" [ngValue]="(i+1)"
                                        style="color: black">
                                        {{gender}}
                                    </option>
                                </select>
                            </div>
                            <div class=" form-group">
                                <label>Birthdate</label>
                                <input type="text" formControlName="birthDate" (click)="d.toggle()" ngbDatepicker
                                    #d="ngbDatepicker" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 flex-column">
                            <h4 class="section-label"><i class="tim-icons icon-badge"></i> General info</h4>
                            <div class=" form-group">
                                <label>Phone number</label>
                                <input class=" form-control" placeholder="Phone number" type="text"
                                    formControlName="phoneNumber" />
                            </div>
                            <div class=" form-group">
                                <label>Email</label>
                                <input class=" form-control" placeholder="Email" type="text" formControlName="email" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="section-label col-lg-12 text-center"><i class="tim-icons icon-square-pin"></i>
                            Address
                        </h4>
                    </div>
                    <div class="row">
                        <p class="text-info">
                            You can select client address by clicking into map or via address form.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <agm-map [latitude]="latUpdate" [longitude]="lngUpdate" [zoom]="14"
                                (mapClick)="mapClicked($event)">
                                <agm-marker [latitude]="latUpdate" [longitude]="lngUpdate"></agm-marker>
                            </agm-map>
                        </div>
                        <div class="col-lg-7">
                            <div class=" form-group">
                                <label>City</label>
                                <input class=" form-control" placeholder="City" type="text" formControlName="city" />
                            </div>
                            <div class=" form-group">
                                <label>Post code</label>
                                <input class=" form-control" placeholder="Post code" type="text"
                                    formControlName="postCode" />
                            </div>
                            <div class=" form-group">
                                <label>Street</label>
                                <input class=" form-control" placeholder="Street" type="text"
                                    formControlName="street" />
                            </div>
                            <div class=" form-group">
                                <label>Building number</label>
                                <input class=" form-control" placeholder="Building number" type="text"
                                    formControlName="buildingNumber" />
                            </div>
                            <button class=" btn" [disabled]="!allAddressControlsValid()"
                                (click)="confirmAddress()">Validate address</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>