<ion-header>
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let registeredAction of registeredActions">
    <ion-item-divider class="item-separator">
      <ion-label>
        {{registeredAction.date | date}}
        <ng-container *ngIf="isToday(registeredAction.date)">
          (today)
        </ng-container>
      </ion-label>
    </ion-item-divider>

    <client-actions-overview *ngFor="let clientActions of registeredAction.registeredActionsClient"
      [clientActions]="clientActions" (detailModalClosed)="reloadData()"></client-actions-overview>
  </ng-container>

  <ion-infinite-scroll *ngIf="registeredActions" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>