/* You can add global styles to this file, and also import other style files */

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

// fix for bootstrap datepicker
ngb-datepicker-navigation-select select option {
  color: black;
}
.ngb-dp-day.ng-star-inserted .btn-light {
  color: black;
}

.ngb-dp-day.ng-star-inserted .btn-light:hover {
  color: white;
}

mwl-calendar-week-view.no-dates .cal-day-headers span {
  visibility: hidden;
}
