<div class="content">
    <div class="col-xl-8 ml-auto mr-auto">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-8" style="margin-top: 5px">
                        <input type="text" placeholder="Find client by name" class="form-control"
                            [(ngModel)]="clientNameText">
                    </div>
                    <div class="col-xl-4" style="display: flex;">
                        <button class="btn btn-icon btn-simple btn-danger ml-auto" (click)="addNewClient()"> <i
                                class="tim-icons icon-simple-add"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="clientBasics">
        <div *ngFor="let client of (clientBasics | clientName: clientNameText)" class=" col-md-3">
            <div class=" card card-user">
                <div class=" card-body">
                    <p class=" card-text"></p>
                    <div class=" author">
                        <div class=" block block-one"></div>
                        <div class=" block block-two"></div>
                        <div class=" block block-three"></div>
                        <div class=" block block-four"></div>
                        <a href="javascript:void(0)" (click)="openClientDetail(client.id)">
                            <img alt="..." class=" avatar" [src]="client.profilePicture.pictureUri" />
                        </a>
                        <p class=" description">{{client.fullName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>