<ion-card *ngIf="clientActions && client">

  <div class="flex-row">
    <ion-avatar slot="start" style="margin: 10px;">
      <img [src]="client.profilePicture">
    </ion-avatar>

    <h3 class="client-name-header">
      {{client.fullName}}
    </h3>
  </div>

  <div class="flex-column" style="align-items: flex-end;">
    <div class="action-item-small " *ngFor="let action of clientActions.registeredActions">
      <action-item-card (clicked)="openDetailModal(action.id)" [headerText]="action.action.name"
        [fromTime]="action.plannedStartDateTime" [bgCss]="visualHelper.getBgCssColorForRegisteredAction(action)">
      </action-item-card>
    </div>
  </div>
</ion-card>