<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic/Capacitor Google Maps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="map-container">
    <google-map></google-map>
  </div>

  <ion-card>
    <ion-card-title>Current location</ion-card-title>
    <ion-card-content *ngIf="currentLocation">
      <p>Latitude: {{currentLocation.coords.latitude}}</p>
      <p>Longtitude: {{currentLocation.coords.longitude}}</p>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="showInfoWindow()">Show info window </ion-button>
  <ion-button (click)="showCustomMarker()">Add custom marker </ion-button>


  <ion-item>

  </ion-item>

  <div style="visibility: hidden;" class="customMarker" id="marker1">
    <img src='https://images.unsplash.com/photo-1546472006-87dd806746a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80'>
  </div>


</ion-content>

<ion-footer>
  <button ion-button color="light" full (click)="testMarker()">Test Marker</button>
</ion-footer>