.item-container {
  height: 50px;
  width: 95%;
  max-width: 450px;
  margin-left: 2.5%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .header-text {
    margin-left: 10px;
    font-size: 1.2em;
  }
}
