<ngx-spinner></ngx-spinner>
<div class="card ">
    <div class="card-body">
        <div class="row" *ngIf="externalEvents && events">
            <div class="col-md-2" mwlDroppable>
                <h5>Actions</h5>
                <ul>
                    <li *ngFor="let event of externalEvents" mwlDraggable [dropData]="{event: event}"
                        dragActiveClass="drag-active">
                        <a href="javascript:;">
                            {{ event.title}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                <mwl-calendar-week-view class="no-dates" [viewDate]="viewDate" [events]="events"
                    (eventClicked)="handleEvent('clicked', $event.event)" (eventTimesChanged)="eventDropped($event)">
                </mwl-calendar-week-view>
            </div>
        </div>
    </div>
</div>